
    $heading-color: #231f1e;
    $misty-rose: #f9dcdc;
    $white: white;
    $primary-color: #003d29;
    $white-smoke: #f5f6f6;
    $linen: #f2e4d9;
    $light-cyan: #d2f7ec;



// $colors:(
//     "white":$heading-color,
//     "black":$misty-rose,
//     "green": $he,
//     "red":$white-smoke,
//     "linen":$linen,
// );



// @each $name , $color in $colors {
//      .discount-#{$name}{
//         color: $color;
//      }

//      }
