@mixin flex-row($justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-column($justify-content: flex-start, $align-items: stretch) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin horizontal-padding($padding) {
    padding-left: $padding;
    padding-right: $padding;
}
@mixin vertical-padding($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}
@mixin vertical-margin($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}
@mixin horizontal-margin($margin) {
    margin-left: $margin;
    margin-right: $margin;
}
@mixin text-styles($font-size: 16px, $font-weight: normal, $line-height: 1.5) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
  }
