.discount{
    display: grid;
    @include flex-column();
    gap: 1.9rem;
    margin-top: rem(20px);
    padding-bottom: rem(40px);

    @media (min-width:767px){
      padding-bottom: rem(80px);
    }

  &__heading{
    font-size: rem(24px);
    font-weight: 700;
    line-height: 100%;
    
    @media (min-width:476px){
        font-size: rem(28px); 
    }
   

  }
  &__cardcontainer{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    color: #333;

    @media (min-width:476px){
        grid-template-columns: 1fr 1fr;
        column-gap: 1.3rem;
        row-gap: 1.1rem;
    }

    @media (min-width:987px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1.3rem;
        row-gap: 1.1rem;
    }

    .card{
        // background-color: burlywood;
       overflow: hidden; 
         border-radius: rem(10px);
         overflow: hidden;
        &__top{
            padding: rem(20px);
            @include flex-column();
            gap:0.5rem;

            @media (min-width:767px){
                padding: rem(30px);
            }

            &--save{
                font-size: rem(22px);
                font-weight: 700;
               
            }
            &--price{
                font-size: rem(38px);
                line-height: rem(45px);
                color: #cb9917;
                font-weight: 700;
                margin-bottom: 0.5rem;
                @media (min-width:767px){
                    font-size: rem(48px);
                line-height: rem(51px);

                }

                .dollar{
             font-size: rem(24px);
             line-height: rem(26px);
             position: relative;
             top:-10px;
             @media (min-width:767px){
                font-size: rem(31px);
                line-height: rem(41px);
            }
                }
            }

            &--detail{
              color: $heading-color;
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
            }
        }

        &__bottom{
            width: 100%;
            height: 100%;
             overflow: hidden;
            &--img{
             width: 100%;
             display: block;
             object-fit: cover;
             transition: 0.3s ease;
                    }

                    &--img:hover{
                        transform: scale(1.2);
                    }
        }
    }

    .card1 .card__top {
        background-color: $linen;
    }
    .card2 .card__top {
        background-color: $misty-rose;
        .card__top--price{
            color: #961f1f;
        }
    }
    .card3 .card__top {
        background-color: $linen;
        .card__top--price{
            color: #94623c
        }
        
    }

    .card4 .card__top {
        background-color: $light-cyan;
        .card__top--price{
            color: $primary-color;
        }
    }
}

}